 header{
    background: url(images/header.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    }
    
.section{
    padding-top: 4vw;
    padding-bottom: 4vw;
    }

.tabs .indicator{
    background-color: #1a237e;
}

.tabs .tab a:focus, .tabs .tab a:focus.active{
    background: transparent;
}

@media screen and (max-width: 1140px){
    #logo{
        font-size: 24px;
    }
}

 @media screen and (max-width: 670px){
    header{
    min-height: 250px;
    }

 #logo{
    font-size: inherit;
    }

.hideMobile{
    display:none;
    }
 }